// Header
$header-height: 34px;
$toolbar-height: 40px;

// Formula
$formula-height: 24px;

// Table
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$primary-color: #3c74ff;

// Dashboard
$db-header-height: 64px;

// Common
$border-color: #c0c0c0;